/*generic style for main sections*/
body{
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
}

div {
  display: block;
}

header{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.header-inner{
  display: flex;
  width: 1260px;
  height: 69px;
  margin: 0 auto;
  background-color: black;
  border-bottom: 1px solid seashell;
}

header .logo{
  margin-top: 10px;
  padding-left: 10px;
  width: 70%;
}

nav{
  width: 30%;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-around;
}

h2, h3, h4, h5 {
    margin: 0;
    display: block;
    padding: 10px;
    font-family: Helvetica;
    color: seashell;
    font-weight: bold;
}

a,p{
  font-family: Helvetica;
  font-size: 22px;
  display: block;
  color: seashell;
}

nav a{
  text-decoration: underline;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:1260px;
  height: 2200px;
  margin: 70px auto 0;
}
/*upper section - shop mission*/
#mission{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 1200px;
  height: 700px;
  margin: 0px 20px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#mission .mission-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 22px;
  font-weight: bold;
  background-color: black;
}

/*middle section - tea of the month*/
#tea-of-month{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 800px;
}

.featured{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 20px;
  flex-wrap: wrap;
  width: 1000px;
  height: 600px;
  margin: 10px 60px;
}

.Fall,
.Spicy,
.Donut,
.Myrtle,
.Bedford{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 250px;
  padding: 5px;
}
/*lower section - location address*/

#address{
  width: 1200px;
  height: 500px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-size: cover;
  padding-top: 80px;
  text-align: center;
}

.location{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.street{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 300px;
  height: 250px;
  margin: 15px 20px;
  opacity: 1;
}

/* Contact Section */
.contact {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Copyright*/
.copyright {
  text-align: left;
  padding-left: 20px;
}
